body{
  margin:0px;
  background-color: #eeeeee;
}
header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00b279;
    font-size : 1.25vw;
    font-family:"Verdana";
}

nav ul li {
    float: left;
}
nav ul li:last-child {
    float: right;
    padding-right: 100px;
    font-size: 1.25vw;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-family: "Verdana";
}

nav ul li a:hover {
    background-color: #007b54;
}
nav ul li p{
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
ul#menu li{
    display: inline;

}
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 1.25vw;
    border: none;
    outline: none;
    color: white;
    padding: 14px 2px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: #007b54;
    font-size: 1.25vw;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
#QCcover {
    background-image: url("pic/1025_qc.jpg");
    min-height: 725px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#EWcover {
    background-image: url("pic/electronicwaste.jpg");
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#gogreen {
    background-image: url("pic/gogreen.png");
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#netbar {
    background-image: url("pic/netbar.jpg");
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#recy {
    background-image: url("pic/computer_recycling.jpg");
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#avengers {
    background-image: url("pic/avengers.png");
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#datacenter {
    background-image: url("pic/datacenter.jpg");
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#threeR{
  background-image: url("pic/3R.jpeg");
  min-height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container .topic,.container .word-content,.table,.container .word-content2 {
    width: 95%;
    max-width: 1200px;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}
.topic h1{
    font-family:"montserratbold";
    font-weight: 700;
    font-size: 30px;
}
.topic h2{
    font-family:"montserratbold";
    font-weight: 700;
    font-size: 28px;
}
.word-content{
  font-size: 22px;
  font-family: 'latoregular';
  font-weight: 400;
  color: #7f8383;
  line-height: 35px;
  word-wrap: break-word;
}
.word-content::first-letter {
    font-size: 400%;
    color: #2E2E2E;
    float: left;
    line-height: 60px;
    padding-top: 0px;
    padding-right: 8px;
    padding-left: 3px;
}
.word-content2{
  font-size: 22px;
  font-family: 'latoregular';
  font-weight: 400;
  color: #7f8383;
  line-height: 35px;
  word-wrap: break-word;
}

.word-content a{
  text-decoration: none;
  color: #2E2E2E;
  font-style: italic
}

#nav-index{
  position: fixed;
  top: 0;
  width: 100%;
}
b{
  color: #3a3a3a;
}
table{
    width: 1000px;
    margin-top: 20px;
    text-align: center;
    position: static;
}
table, th, td {
  font-size: 26px;
  border-collapse: collapse;
  font-family: "Verdana";
  padding: 15px;
}
td p {
  margin:0px;
}
tr:nth-child(1){
  background-color: #7788aa;
  color:#ffffff;
}
tr:nth-child(even){
  background-color: #BDBDBD;
}
